.box {
  width: 12em;
  height: 12em;
}

.selected {
  width: 12em;
  height: 12em;
  background-color: darkgrey !important;
}

#button1 {
  background-color: red;
}

#button2 {
  background-color: blue;
}

#button3 {
  background-color: green;
}

#button4 {
  background-color: yellow;
}

#disk {
  width: 24em;
  height: 24em;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
