.box {
  width: 12em;
  height: 12em;
}

.selected {
  width: 12em;
  height: 12em;
}

#red1 {
  background-color: red;
}

#blue2 {
  background-color: blue;
}

#green3 {
  background-color: green;
}

#yellow4 {
  background-color: yellow;
}

#disk {
  width: 24em;
  height: 24em;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}