.box {
  width: 5em;
  height: 3em;
}

.selected {
  
}

#red1 {
  background-color: red;
}

#blue2 {
  background-color: blue;
}

#green3 {
  background-color: green;
}

#yellow4 {
  background-color: yellow;
}
